@font-face {
    font-family: "normsBold";
    src: url("/font/tt-norms-pro-cufonfonts/TT\ Norms\ Pro\ Bold.otf");
    
  }
  @font-face{
    font-family: "normsNormal";
    src: url("/font/tt-norms-pro-cufonfonts/TT\ Norms\ Pro\ Medium.otf");
  }

body
{
    background-color: aqua;
    margin: 0;
}
.header
{
    height: 92.5%;
    background-image: url(images/hero_desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-top
{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-mid
{
    color: white;
    height: 100%;
    width: 70%;
    padding-left: 42.5%;
}
.header-img
{
    height: 100%;
}
.header-right
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 24px;
    right: 0;
    gap: 8px;
}
.header-right button
{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;    
}

.header-right-button1
{
    color: beige;
    font-size: 16px;
    background-color: rgb(236, 17, 17);
    font-family: normsBold;
}
.header-right-button2
{
    color: black;
    font-size: 16px;
    background-color: white;
    font-family: normsBold;
}
.header-center
{
    margin-top: 13%;
    margin-left: 25%;
    height: 50%;
    width: 50%;
}
.header-center h1
{
    color: white;
    font-family: normsBold;
    font-size: 40px;
}
.location-input
{
margin-top: 3%;
margin-left: 22.5%;
display: flex;
flex-direction: row;
width: 55%;
box-sizing: border-box;
border: none;
font-size: 16px;
outline: none;
border-radius: 75px 75px;
background: rgb(255, 255, 255);
text-align: center;
width: 55%;
height: 55px;

}

.location-input input
{
    outline: none;
    width: 330px;
    height: auto;
}
.location-input button
{
    background-color: #ec2121;
    border-radius: 50%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    text-align: center;
    width:40px;
    height: 40px;
}
.location-img1
{
    margin: 10px;
}
.location-img2
{
    height: 80%;
    margin-left: 2px;
}
.center-signin
{
    margin-top: 20px;
    width: 50%;
    margin-left:25% ;
}
.center-signin img
{
    height: 20px;
    margin-top: 2.5%;
    margin-left: 15px;
    padding-right: 7px;
}
.center-signin button
{
    font-family: normsBold;
    font-size: 14px;
    height: 30px;
    width: 60%;
    margin-left: 20%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    background-color: beige;
}
.center-signin div
{
    margin-top: 2%;
}
.middle
{
    height: auto;
    background-color: #ffff;
}
.middle1
{
    display: flex;
    flex-direction: row;
    padding-top: 8%;
}
.middle1-col1
{
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-left: 15%;
    overflow-wrap: break-word;
}


.middle1-col2
{
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-left: 5%;
}
.middle1-col3
{
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-left: 5%;
    margin-right: 20%;
    
}
.middle1 img
{
    height: 154px;
    width: 154px;
    margin-top: 0px;
}
.middle1-text 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle1-text h1
{
    text-align: center;
    font-family: normsBold;
    font-size: 30px;
    line-height: normal;
}
.middle1-text p
{
    font-family: normsNormal;

    font-size: 17px;
    width: 100%;
    text-align: center;
}
.continuebtn
{
    margin-top: 5px;
    font-family: normsBold;
    font-size: 15px;
    color: #eb1700;
}
.continuebtn img
{
    margin-left: 2px;
    height:20px;
    width: 20px;
}
.continuebtn button
{
    display: flex;
    flex-direction: row;
}
.middle2 {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}
.middle2-left {
    width: 42%;
    padding-left: 12%;
    padding-top: 8%;
}
.m2l1 {
    line-height: 40px;
    font-size: 35px;
    font-family: normsbold;
    margin-right: 25%;
}
.m2l2 {
    padding-top: 10px;
    font-size: 20px;
    font-family: normsnormal;
}
.m2l3 {
    padding-top: 10px;
    font-family: normsnormal;
    margin-right: 12%;
}
.middle2-left button {
    font-size: 15px;
    font-family: normsbold;
    margin-top: 30px;
    background-color: rgb(236, 33, 33);
    color: white;
    padding: 8px;
    border-radius: 90px;
}
.middle2-right 
{
    width: 58%;
}
.middle2 img
{
    max-width: 100%;
    height: auto;
}
.middle3 
{
    margin-top: -40px;
    background-color: rgb(254, 241, 238);
    z-index: 2;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}
.middle3-left 
{
    width: 58%;
    padding-top: 5%;
    padding-left: 12%;
}
.middle3 img
{
    max-width: 100%;
    height: auto;
}
.middle3-right 
{
    width: 42%;
    padding-top: 15%;
    padding-left: 5%;
}
.m3r1 
{
    font-family: normsbold;
    font-size: 35px;
    margin-right: 50%;
    line-height: 40px;
}
.m3r2 
{
    padding-top: 10px;
    font-family: normsnormal;
    margin-right: 12%;
}
.middle3-right button 
{
    font-size: 15px;
    font-family: normsbold;
    margin-top: 30px;
    background-color: rgb(236, 33, 33);
    color: white;
    padding: 8px;
    border-radius: 90px;
}
.middle4 
{
    background-image: url(images/grocery_desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    color: white;
    height: 85%;
    filter: brightness(0.5);
    background-position: center center;
}
.m4 
{
    text-align: center;
}
.m4c1 
{
    margin-left: 35%;
    width: 30%;
    line-height: normal;
    font-family: normsbold;
    font-size: 35px;
}
.m4c2 
{
    padding-top: 10px;
    font-size: 20px;
    font-family: normsnormal;
}
.m4c3 
{
    margin-left: 32.5%;
    width: 35%;
    text-align: center;
    padding-top: 10px;
    font-family: normsnormal;
}
.m4 button 
{
    font-size: 15px;
    font-family: normsbold;
    margin-top: 30px;
    background-color: rgb(236, 33, 33);
    color: white;
    padding: 8px;
    border-radius: 90px;
}

.footer
{
    height: 100%;
    background-color: blueviolet;
}
